.about {
    padding: 100px 0 0 0;
}
.h2-title {
    @extend %h2;
    color: $text-dark;

    @media screen and (max-width: $tablet-width) {
        font-size: $h2-m-size;
    }
}
.about__cards {
    padding: 60px 0 0 0;
    display: flex;

    gap: 20px;

    @media screen and (max-width: $tablet-width) {
        flex-direction: column-reverse;
    }
}

.about__card-column {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about__image-container {
    position: relative;
    border-radius: 40px;
    overflow: hidden;
    background-color: $cards-color-second;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        width: 180%;
        transition: 0.5s ease;
    }

    p {
        position: relative;
        z-index: 2;
        padding: 40px 60px 60px 60px;
        @extend %h3;
        color: $text-dark;

        @media screen and (max-width: 1024px) {
            font-size: $m-size;
        }

        @media screen and (max-width: $tablet-width) {
            font-size: $h3-size;
        }

        @media screen and (max-width: $mobile-width) {
            font-size: $m-size;
        }
    }

    .decor {
        position: absolute;
        background-image: url(../img/cards3D/Torus_Concentric_Standing_1_0001.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        transition: 2s ease-in;

        width: 500px;
        height: 500px;

        right: -150px;
        bottom: -100px;
    }

    .decor-second {
        position: absolute;
        background-image: url(../img/cards3D/Gon_3_Down_Standing0001.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

        transition: 2s ease-in;

        width: 400px;
        height: 400px;

        left: -80px;
        top: -100px;

        @media screen and (max-width: 1024px) {
            display: none;
        }

        @media screen and (max-width: $tablet-width) {
            display: block;
        }

        @media screen and (max-width: 600px) {
            display: none;
        }
    }

    @media (hover: hover) {
        &:hover {
            img {
                transform: scale(0.9);
            }
        }
    }
}

.about__text-container {
    @media screen and (min-width: $desktop-width) {
        @media (hover: hover) {
            &:hover {
                .decor {
                    transform: translateX(-100%) translateY(-10%) rotate(180deg) scale(0.8);
                }

                .decor-second {
                    transform: translateX(100%) translateY(10%) rotate(180deg) scale(0.8);
                }
            }
        }
    }
}

.about__image-container-s {
    max-width: 630px;
    aspect-ratio: 630/430;

    @media screen and (max-width: $tablet-width) {
        display: none;
        max-width: 100%;
    }
}

.about__image-container-l {
    max-width: 630px;
    aspect-ratio: 630/590;
}
