.header {
    height: 100px;
    display: flex;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    position: relative;
    z-index: 3;
    width: 220px;
    height: 30px;

    background-image: url(../img/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.header__nav {
    @media screen and (max-width: $tablet-width) {
        position: fixed;
        z-index: 2;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        padding: 200px 0 100px 0;
        background-color: $body-color;
        transform: translateX(-150%);

        transition: 0.5s ease-in;

        &.header__nav--active {
            transform: translateX(0);
        }
    }
}
.header__menu-list {
    margin: 0 20px 0 20px;
    height: 100%;

    display: flex;
    align-items: center;
    gap: 20px;

    @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        gap: 60px;
    }
}

.header__menu-item {
    @extend %clickable-els-text;
    white-space: nowrap;
    transition: 0.3s ease;

    &::after {
        content: '';
        display: block;
        height: 2px;
        width: 100%;
        background-color: $accent-color;
        transform: scale(0);
        transform-origin: center;

        transition: 0.3s ease;
    }

    @media (hover: hover) {
        &:hover {
            &::after {
                transform: scale(1);
            }
        }
    }

    a {
        display: block;
        // height: 26px;

        @media screen and (max-width: $tablet-width) {
            font-size: $h3-size;
        }
    }
}

.contacts-button {
    @media screen and (max-width: $tablet-width) {
        display: none;
    }
}

.header__burger-button {
    display: none;

    @media screen and (max-width: $tablet-width) {
        position: relative;
        z-index: 3;

        display: flex;
        flex-direction: column;
        gap: 5px;

        justify-content: center;
        align-items: center;

        min-height: 40px;
        min-width: 40px;

        transition: 0.5s ease-in;

        cursor: pointer;

        span {
            display: inline-block;
            width: 40px;
            height: 2px;
            background-color: $border-light;

            transition: 0.5s ease-in;
        }

        &.header__burger-button--active {
            gap: 0px;
            transform: rotate(360deg);
            span:nth-child(1) {
                transform: rotate(45deg);
                margin: -2px;
            }

            span:nth-child(2) {
                transform: scale(0);
                transform-origin: right;
            }

            span:nth-child(3) {
                transform: rotate(-45deg);
                margin: -2px;
            }
        }
    }
}
