// TEXT
$text-dark: #33354a;
$text-light: #ffffff;
$text-accent: #e63547;

// BACKGROUND
$body-color: #33354a;
$container-color: #ffffff;
$accent-color: #e63547;
$cards-color: #ffe1d5;
$cards-color-second: #d5edff;
$backdrop-color: rgba(51, 53, 74, 0.8);

// BORDER
$border-light: #ffffff;
$border-dark: #33354a;
$border-grey: #d2d2d2;
